.btn {
  width: 100%;
  background: $firm-blue;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  font-size: 15px;
  border: 0;
  min-height: 64px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background: $firm-blue-hover;
  }
}

.btn:disabled {
  background: $btn-disabled;
}

.btn--reset {
  background: none;
  border: 0;
}